$body-font-family: "Poppins";
$font-family: "Poppins";

.v-application {
  [class*="text-"] {
    font-family: $font-family, sans-serif !important;
  }
  font-family: $font-family, sans-serif !important;
}

.v-btn {
  text-transform: none !important;
}

.theme--light.v-text-field--filled > .v-input__control > .v-input__slot {
  background: #eff0f6 !important;
}

.v-navigation-drawer__border {
  z-index: -1;
}
